.ht-bibliography-item {
  display: flex;
  margin-bottom: 1em;
}

.ht-bibliography-number {
  flex: none;
  min-width: 25px;
  margin-right: 5px;
}

.ht-bibliography-content {
  flex: auto;
}

.ht-bibliography-author {
  text-transform: uppercase;
}
